<form class="col-md-4">
  <div class="form-group ">
    <label for="name">Username</label>
    <br>
    <input type="text" required class="form-control" id="name" name="name" required>
  </div>
  <br>
  <div class="form-group">
    <label for="description">Quote and Author</label>
    <br>
    <textarea class="form-control" id="description" rows="4" required></textarea>
  </div>
  <br>
  <div class="form-group">
    <label for="complete">Date submitted</label>
    <br>
    <input type='date' id="complete" required>
  </div>
  <br>
  <button type="button" name="button">Submit </button>
</form>