<form class="col-md-4" (ngSubmit)='submitInput()' #inputForm='ngForm'>
  <div class="form-group ">
    <label for="name">Username</label>
    <br>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newQuote.name" #name="ngModel">
  </div>
  <br>
  <div class="form-group">
    <label for="description">Quote and Author</label>
    <br>
    <textarea type="text" class="form-control" id="description" rows="4" name="description" [(ngModel)]="newQuote.description" #description="ngModel"></textarea>
  </div>
  <br>
  <div class="form-group">
    <label for="complete">Date submitted</label>
    <br>
    <input type='date' id="complete" required>
  </div>
  <br>
  <button type="submit" name="button" id="">Submit </button>
</form>
<br>
<br>