<hr>
<div class="container">
  <app-form (quoteDisplay)="addInputs($event)"></app-form>
  <h1>Quotes</h1>
  <br>
  <div class="row" *ngFor="let input of inputs;let i = 'index'">
    <div class="row">

      <p>"{{ input.description }}"</p>
      <p> written by: {{ input.name }} </p>
      <button class="btn btn-primary" (click)='likes(i)'>Like</button>
      <p>{{input.upVote}}</p>
      <button class="btn btn-primary" (click)='dislikes(i)'>Dislike</button>
      <br>
      <p>{{input.downVote}}</p>
      <br>
      <p>{{input.completeDate}}</p>
      <app-quote-details [inputs]="quote" (isComplete)='quoteDelete($event,i)'></app-quote-details>

    </div>

  </div>