<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <img width="300" alt="Quote Logo" src="https://cdn.pixabay.com/photo/2012/04/12/19/48/callout-30368__340.png">
</div>
<form>
  <div class="form-group">
    <label for="name">Username</label>
    <br>
    <input type="text" required class="form-control" id="name">
  </div>
  <br>
  <div class="form-group">
    <label for="description">Quote and Author</label>
    <br>
    <textarea class="form-control" id="description" rows="4" required></textarea>
  </div>
  <br>
  <div class="form-group">
    <label for="complete">date submitted</label>
    <br>
    <input type='date' id="complete" required>
  </div>
  <br>
  <button type="button" name="button">Submit </button>
</form>
<app-form></app-form>

<router-outlet></router-outlet>